.card  {
  box-shadow: 0 0px 0px 0;
}

.nav-wrapper {
  padding-left: 2%;
  padding-right: 2%;
}

.project .description {
  padding-top: 30px
}

.chip {
  margin-bottom: 10px;
}

.btn-floating {
  margin-bottom: 15px;
}
